@import "tailwindcss";

/* Override the default 'dark' variant.
  This tells Tailwind: "Apply dark: styles when this element 
  or a parent has the class '.dark'"
*/
@variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'burtons';
  font-family: 'DM Sans', sans-serif;
  src: url(/public/Burtons.otf) format('opentype');
}